ul{
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    border: 2px solid #666;
}
li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none; /*Bỏ dấu gạch chân của thẻ <a> */
    background-color: darkgray;
}
/* Thay đổi màu sắc của menu khi di chuột vào */
li a:hover{
    background-color: green;
    color: white;
}
li{
    text-align: left;
    border-bottom: 1px solid #555;
}