header
{
    padding: 0px;
    text-align:center;
    background-color: lightblue;
}
nav
{
    text-align: center;
}
a {
    text-decoration: none;
}
ul li
{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    font-weight: bold;
}
section
{
    padding: 5px;
    border: dashed 3px #0026ff;
    width: 68%;
    margin-top: 5px;
}
article
{
    padding: 5px;
    border: dotted 3px #ff006e;
    margin-top: 5px;
}
aside
{
    width: 30%;
}
aside img{
    width: 100%;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
footer
{
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}